<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include('partials/_header') %>

      <h1> Here is your shortened link: <a href=<%- 'http://localhost:8080/u/' + shortURL %>> <%- 'localhost:8080/u/' + shortURL %> </a> </h1>
      <h2> <%= urls[shortURL] %> : <%= shortURL %> </h2>

  <a href='/urls/new' > Shorten another link! </a>
  <a href='/urls/'> See all your shortened URLs! </a>
</body>
</html>