<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>

  <% Object.keys(urls).forEach(function (shortURL) { %>

    <form method="POST" action= "<%= `/urls/${shortURL}/delete` %>" >
      <h4>
        <button name = delete>DELETE</button>
        <a href= "<%= `/urls/${shortURL}` %>" > Edit </a>
        <%= shortURL %> : <%= urls[shortURL].longURL %>  <a href=<%- 'http://localhost:8080/u/' + shortURL %>> <%- 'localhost:8080/u/' + shortURL %> </a>
    </h4>
      </h4>
    </form>
  <% }) %>


  <a href='/urls/new'> Shorten another link! </a>
</body>
</html>