<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include('partials/_header') %>

  <form action="<%= `/urls/${shortURL}` %>" method="POST" style="margin:150px;">
    <h4> Here is your shortened link to <%= urls[shortURL].longURL %> :
    <a href=<%- 'http://localhost:8080/u/' + shortURL %>> <%- 'localhost:8080/u/' + shortURL %> </a>
    </h4>
    <label for="longURL">Update your URL:</label>
    <input id="longURL" type="text" name="longURL" value="http://" style="width: 300px">
    <input type="submit" value="Update">
  </form>


      <!-- <h2> <%= urls[shortURL] %> : <%= shortURL %> </h2> -->

  <a href='/urls/new' > Shorten another link! </a>
  <a href='/urls/'> See all your shortened URLs! </a>
</body>
</html>